@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  width: 88%;
  max-width: 40em;
  margin: 1em auto;
  color: #2d3748;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.125em;
  margin-bottom: 1.875em;
}

form > div {
  max-width: 26em;
  margin-bottom: 1.875em;
}

label {
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1.38889;
  display: block;
  width: 100%;
  margin-bottom: .3125em;
}

.field-label {
  display: block;
}

.field-error {
  display: none;
  margin-bottom: 10px;
  color: #e53e3e;
}

.field-error svg {
  fill: #e53e3e;
  width: 1.5625em;
  margin: 5px 5px 0 0;
  vertical-align: text-bottom;
}

input {
  font-size: 1.125em;
  line-height: 1.38889;
  width: 100%;
  padding: 8px;
  border: 2px solid #718096;
}

input:focus, button:focus {
  outline: 0;
  box-shadow: 0 0 1px 4px #ecc94b;
}

button {
  font-size: 1.125em;
  line-height: 1.38889;
  border: none;
}

.btn-primary {
  padding: 8.5px 20px;
  background-color: #38a169;
  color: #f7fafc;
}

.btn-primary:hover {
  background-color: #246844;
}

.results ul {
  columns: 200px 3;
  column-gap: .625em;
  list-style: none;
  padding-left: 0;
  margin-bottom: 2.375em;
}

.results li {
  margin-bottom: .375em;
}

.results img {
  width: 100%;
  height: auto;
}

footer p {
  font-size: 1em;
  text-align: center;
  margin-bottom: 1.125em;
}

footer a, footer a:visited {
  color: #4a5568;
}
