@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: #2d3748;
}

main {
  flex: 1 0 auto;
  width: 88%;
  max-width: 40em;
  margin: 1em auto;
}

h1 {
  font-size: 2em;
  line-height: 1;
}

ul {
  list-style: none;
  padding: 0;
}

main li {
  margin-bottom: 1em;
}

a, a:visited {
  color: #4a5568;
}

footer {
  text-align: center;
  flex-shrink: 0;
  background-color: #edf2f7;
}

footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 88%;
  max-width: 40em;
  padding: 1.875em 0;
  border-bottom: 2px solid #2d3748;
  margin: 0 auto;
}

footer p {
  margin: 1.875em auto;
}

footer a, footer a:visited {
  color: #4a5568;
}
