@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  width: 88%;
  max-width: 40em;
  margin: 1em auto;
  color: #2d3748;
}

h1 {
  font-size: 3em;
}

label {
  font-size: 1.125em;
  font-weight: 700;
  display: block;
  width: 100%;
  margin-bottom: .3125em;
  color: #2d3748;
}

textarea {
  font-family: inherit;
  font-size: 1.125em;
  width: 100%;
  min-height: 10em;
  padding: 8px;
  border: 2px solid #718096;
}

textarea:focus {
  outline: 0;
  box-shadow: 0 0 1px 4px #ecc94b;
}

p {
  font-size: 1.125em;
}

p:last-of-type {
  margin-bottom: .3125em;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 3.75em;
}

li {
  padding: 5px 10px;
}

li > span {
  display: inline-block;
  width: 50%;
}

li > span + span {
  width: auto;
}

li:nth-child(odd) {
  background-color: #e2e8f0;
}

footer p {
  font-size: 1em;
  text-align: center;
  margin-bottom: 1.125em;
}

footer a, footer a:visited {
  color: #4a5568;
}
