@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: #2d3748;
}

main {
  flex: 1 0 auto;
  width: 88%;
  max-width: 40em;
  margin: 0 auto;
}

h1 {
  font-size: 3em;
  line-height: 1;
}

label {
  font-size: 1.125em;
  font-weight: 700;
  display: block;
  width: 100%;
  margin-bottom: .3125em;
  color: #2d3748;
}

textarea {
  font-family: inherit;
  font-size: 1.125em;
  width: 100%;
  min-height: 10em;
  padding: 8px;
  border: 2px solid #718096;
}

textarea:focus {
  outline: 0;
  box-shadow: 0 0 1px 4px #ecc94b;
}

main p {
  font-size: 1.125em;
}

main p:last-of-type {
  margin-bottom: .3125em;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 3.75em;
}

main li {
  padding: 5px 10px;
}

main li > span {
  display: inline-block;
  width: 50%;
}

main li > span + span {
  width: auto;
}

main li:nth-child(odd) {
  background-color: #edf2f7;
}

footer {
  text-align: center;
  flex-shrink: 0;
  background-color: #edf2f7;
}

footer ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 88%;
  max-width: 40em;
  padding: 1.875em 0;
  border-bottom: 2px solid #2d3748;
  margin: 0 auto;
}

footer p {
  margin: 1.875em auto;
}

footer a, footer a:visited {
  color: #4a5568;
}
