@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: #2d3748;
}

img {
  max-width: 100%;
}

header {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

main {
  flex: 1 0 auto;
  width: 90%;
  max-width: 75em;
  margin: 1em auto;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-top: 0;
  margin-bottom: .5rem;
}

.field {
  max-width: 26em;
  margin: 0 auto 3em;
}

.field-label {
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1.38889;
  display: block;
  margin-bottom: 5px;
  color: #2d3748;
}

select {
  font-family: 'Inter', sans-serif;
  font-size: 1.125em;
  line-height: 1.38889;
  width: 100%;
}

select:focus {
  outline: 0;
  box-shadow: 0 0 1px 4px #ecc94b;
}

h2 {
  font-size: 1.25em;
  text-transform: uppercase;
  margin: 0 0 .5em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.25;
  color: #2d3748;
}

main a {
  text-decoration: none;
}

main p {
  font-family: 'Roboto', sans-serif;
  color: #2d3748;
}

main p.error {
  text-align: center;
  margin-bottom: 0;
}

time {
  font-size: .875em;
  color: #4f5b6b;
}

footer {
  text-align: center;
  flex-shrink: 0;
  margin-top: 1.875em;
  background-color: #edf2f7;
}

footer ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 88%;
  max-width: 40em;
  padding: 1.875em 0;
  border-bottom: 2px solid #2d3748;
  margin: 0 auto;
}

footer p {
  margin: 1.875em auto;
}

footer a, footer a:visited {
  color: #4a5568;
}

@media (max-width: 599px) {
  article + article {
    padding-top: 2.5em;
    border-top: 1px solid #718096;
    margin-top: 2.5em;
  }

  footer p span {
    display: block;
  }
}

@media (min-width: 600px) {
  #app {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 30px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  article:nth-child(n+3) {
    padding-top: 2.5em;
    border-top: 1px solid #718096;
    margin-top: 2.5em;
  }
}

@media (min-width: 900px) {
  #app {
    grid-template-columns: repeat(3, 1fr);
  }

  article:nth-child(n+4) {
    padding-top: 2.5em;
    border-top: 1px solid #718096;
    margin-top: 2.5em;
  }
}